{% extends "layout.twig" %}

{% block title %}{{ parent() }}{% trans "User" %}: {{ target }}{% endblock %}

{% block content %}
<div id="tabs">
	<ul>
		<li title="info"><a href="index.php/user/{{ mode }}:{{ target|e('url') }}/info">{% trans "Info" %}</a></li>
		<li title="activity"><a href="index.php/user/{{ mode }}:{{ target|e('url') }}/activity">{% trans "Activity" %}</a></li>
	</ul>
</div>
{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
var target = '{{ target|e('url') }}';
var mode = '{{ mode }}';
$(document).ready(function() {
	var tabs = $("#tabs").tabs({
		beforeActivate: function(event, ui) {
			window.location.hash = ui.newTab.attr('title');
		},
		beforeLoad: function(event, ui) {
			if (window.location.hash) {
				var title = window.location.hash.substring(1, window.location.hash.length);
				$("li[title='"+title+"'] a").trigger("click");
			}			
			if (ui.tab.data("loaded")) {
				event.preventDefault();
				return;
			}
			ui.jqXHR.success(function() {
				ui.tab.data("loaded", true);
			});
			ui.jqXHR.error(function() {
				ui.panel.text(mLang.LoadError);
			});
		}
	});
	$.getJSON('rest/service.php/users/'+mode+'/'+target+'/checkstats', function(data) {
		if (!data) tabs.tabs("disable", 1);
	});
});
</script>
{% endblock %}
